.wrapper {
  display: flex;
  gap: 8px;

  margin-right: 40px;
}

.messageBody {
  background-color: var(--color-foreground);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.own {
  align-self: flex-end;
  flex-direction: row-reverse;
  margin-left: 40px;
  margin-right: 0;

  .messageBody {
    background-color: var(--color-background);
  }
}
