.container {
  height: 100vh;
  max-width: 1440px;

  margin: 0 auto;

  padding: 0 100px 20px 100px;
  position: relative;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    height: auto;
    min-height: 100vh;
    padding: 0 120px 12px 120px;
  }

  @media screen and (max-width: 992px) {
    padding: 0 20px 0 100px;
  }

  @media screen and (max-width: 576px) {
    padding: 50px 20px;
  }
}

.centerContainer {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 576px) {
    flex: auto;
    height: 75vh;
  }
}
