.wrapper {
  display: flex;
  flex: 1;
  max-width: 400px;
}

.container {
  background-color: var(--color-foreground);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-smooth);

  border: 2px solid var(--color-border);
  padding: 12px;

  max-width: 400px;
  flex: 1;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  position: relative;

  @media screen and (max-width: 576px) {
    max-width: 100%;
    min-height: 500px;
  }
}

.controls {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 2px solid var(--color-border);
}
