.wrapper {
  position: relative;
  transition: background-color var(--transition-duration) var(--transition-timing-function);

  .buttons {
    display: none;
  }

  &:hover {
    background-color: var(--color-background);
    .buttons {
      display: flex;
    }
  }

  border-width: 2px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;

  position: absolute;
  bottom: 12px;
  right: 12px;
}
