.wrapper {
  margin-bottom: 12px;
  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 576px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  background-color: var(--color-foreground);
  border-radius: 0 0 var(--radius-md) var(--radius-md);
  box-shadow: var(--shadow-smooth);
}

.welcome {
  @media screen and (max-width: 576px) {
    display: none;
  }
}
